@charset "utf-8";
.mobile {
  display: none !important;
}
.pc {
  display: block !important;
}
.pc.flex {
  display: flex !important;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex.btw {
  justify-content: space-between;
}
.flex.al-cnt {
  align-items: center;
}
.flex.jt-cnt {
  justify-content: center;
}
.bb {
  border-bottom: 1px solid var(--border);
}
.flex.g5 {
  gap: 5px;
}
.flex.g10 {
  gap: 10px;
}
.flex.g15 {
  gap: 15px;
}
.flex.g20 {
  gap: 20px;
}
.flex.g30 {
  gap: 30px;
}
.flex.g40 {
  gap: 40px;
}
.flex.g50 {
  gap: 50px;
}
.flex.col {
  flex-direction: column;
}
.b {
  font-weight: bold;
}
.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 1.5rem;
}
.mt-4 {
  margin-top: 2rem;
}
.mt-5 {
  margin-top: 2.5rem;
}
.mt-6 {
  margin-top: 3rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 1.5rem;
}
.mb-4 {
  margin-bottom: 2rem;
}
.mb-5 {
  margin-bottom: 2.5rem;
}
.mb-6 {
  margin-bottom: 3rem;
}
.pb-1 {
  padding-bottom: 0.5rem;
}
.pb-2 {
  padding-bottom: 1rem;
}
.pb-3 {
  padding-bottom: 1.5rem;
}
.pb-4 {
  padding-bottom: 2rem;
}
.pb-5 {
  padding-bottom: 2.5rem;
}
.pb-6 {
  padding-bottom: 3rem;
}
.hr.horizontal {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}
.hr.vertical {
  margin: 0 20px;
  width: 1px;
  height: 100%;
  background-color: #d9d9d9;
}
input[type="submit"] {
  cursor: pointer;
}
.flex.items-center {
  align-items: center;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-between {
  justify-content: space-between;
}
.text-primary {
  color: var(--primary);
}
.font-thin {
  font-weight: 300;
}
.text-textGray {
  color: var(--text-gray);
}
.text-red {
  color: var(--red);
}
.text-point {
  color: var(--point);
}
.text-center {
  text-align: center;
}
.text-lg {
  font-size: 1.2rem;
}
.text-xl {
  font-size: 1.5rem;
}
.font-sm {
  font-size: 12px;
}
.section .section-title {
  margin-bottom: 30px;
}
.section .section-title,
.section .section-title > h3 {
  display: flex;
  gap: 15px;
}
.section .section-title {
  flex-direction: column;
}
.section .section-title.center > h3,
.section .section-title.center > h5 {
  text-align: center;
  justify-content: center;
}
.section .section-title > .col {
  flex-direction: column;
}
.section .section-title > .lg > span {
  font-size: 40px;
  line-height: 1;
}
.section .section-title > .md > span {
  font-size: 25px;
  line-height: 1;
}

.table {
  border-top: 1px solid var(--text);
  width: 100%;
  margin-top: 1rem;
}
.table th.star:before {
  content: "*";
  color: var(--red);
}
.table caption {
  font-weight: bold;
  text-align: left;
  padding: 1rem 0 1rem 1rem;
}
.table th {
  background-color: var(--surface);
  font-weight: bold;
}
.table th,
.table td {
  border-bottom: 1px solid var(--border);
  padding: 1rem 2rem;
}
.sub-title {
  font-weight: bold;
}
.btn {
  padding: 1rem;
  background-color: var(--primary);
  color: #fff;
}
.btn-flex {
  flex: 1;
}

.btn.btn-sm {
  padding: 0.5rem 1rem;
}
.btn.btn-lg {
  padding: 1.5rem 4rem;
  font-size: 1.2rem;
}
.btn.btn-gray {
  background-color: var(--dark-gray);
}
.btn.btn-white {
  background-color: #fff;
  border: 1px solid var(--border);
  color: var(--text);
}
.btn.btn-black {
  background-color: #333;
  color: #fff;
}
.btn.btn-reset {
  display: flex;
  gap: 5px;
  align-items: center;
}
.btn.btn-reset:before {
  content: "";
  width: 10px;
  height: 10px;
  background: url("../images/reset.png") center / contain no-repeat;
}
/* 탭 */
.tabs-container {
  border-bottom: 1px solid var(--border);
  padding: 0 1rem;
  margin-top: 1rem;
}
.tabs-container .tabs {
  display: flex;
  gap: 5px;
  margin-bottom: -1px;
}
.tabs-container .tabs .tab {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text);
  border: 1px solid var(--border);
  z-index: 10;
  color: #fff;
  cursor: pointer;
}
.tabs-container .tabs .tab.on {
  background-color: #fff;
  border-bottom: 0;
  color: var(--text);
}

.label-sm {
  padding: 1px 5px;
  color: #fff;
  font-size: 12px;
}
.label-red {
  background-color: var(--red);
}
.label-green {
  background-color: #618a80;
}
.label-orange {
  background-color: #e0bc8d;
}
.label-circle {
  padding: 1rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.label-gradient-blue {
  background: linear-gradient(to right, #0e8ffa, #01b0f0);
}
.label-circle span {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.list .head {
  display: flex;
  border-bottom: 1px solid #d9d9d9;
}
.list .head span {
  padding: 1rem;
  font-weight: 500;
  color: #999;
  text-align: center;
  min-width: 150px;
}
.list .body {
  min-height: 586px;
  border-bottom: 1px solid #d9d9d9;
}
.list .body .row {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}
.list.qna .body .question {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}
.list.qna .body .question {
  cursor: pointer;
}
.list.qna .body .answer {
  display: none;
  padding: 2rem 0;
}
.list.qna .body .answer.on {
  display: flex;
}
.list:not(.qna) .row {
  cursor: pointer;
}
.list:not(.qna) .row:hover div:not(.label) {
  color: #79a5ff;
}
.list .body .row:nth-child(2n):not(.sub) {
  background-color: #fff;
}
.list .info,
.list .fx1 {
  flex: 1;
}
.list .body .row > * {
  padding: 1.5rem;
  min-width: 150px;
  text-align: center;
  font-weight: bold;
}
.list.qna .body .row.answer > .fx1 {
  text-align: left;
  padding: 2rem;
  font-weight: normal;
}
.list .body .item + .item {
  border-top: 1px solid var(--border);
}
.list .body .info span:first-child {
  position: relative;
  display: inline-block;
}
.list .body .info span:first-child:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 1px;
  height: 60%;
  translate: 0 -50%;
  background-color: #d9d9d9;
}
.list .body .info span:last-child {
  font-weight: bold;
  margin-left: 20px;
}
.list .label {
  width: 80px;
  border-radius: 50px;
  padding: 5px 10px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}
.list .label.completed {
  background: linear-gradient(to right, #138cfa, #01b1ef);
  color: #fff;
}
.list .label.trouble {
  background: linear-gradient(to right, #5e5e5e, #939393);
  color: #fff;
}
.list .label.pending {
  background: linear-gradient(to right, #13fa9b, #01efec);
  color: #333;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.pagination ul {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.pagination li {
  cursor: pointer;
}
.pagination li:not(.arrow) a {
  padding: 0 10px;
}
.pagination li.arrow {
  border: 1px solid #d9d9d9;
  text-align: center;
  width: 25px;
  height: 25px;
}
.pagination li.arrow a {
  display: inline-block;
  vertical-align: middle;
}
.pagination li.on a {
  color: #2975cb;
  font-weight: bold;
}
.pagination li.disabled {
  opacity: 0.4;
  cursor: auto;
}
.pagination li.disabled a {
  cursor: auto;
}

.pagination .arrow a {
  height: 12px;
  display: block;
  background-image: url(../images/prev01.png);
}
.pagination .prev02 a,
.pagination .next02 a {
  width: 12px;
}
.pagination .prev01 a,
.pagination .next01 a {
  width: 7px;
}
.pagination .prev02 a {
  background-image: url(../images/prev02.png);
}
.pagination .next01 a {
  rotate: 180deg;
}
.pagination .next02 a {
  background-image: url(../images/prev02.png);
  rotate: 180deg;
}

/* 디테일 */

.board-detail {
}
.board-detail .head {
  border-top: 1px solid #333;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.board-detail .head .subject {
}
.board-detail .cont {
  padding: 40px;
  min-height: 300px;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
}

.input {
  border: 1px solid var(--border);
  padding: 1rem;
  flex: 1;
  display: block;
}
.input.full {
  width: 100%;
}
.input-sm {
  width: 100px;
  flex: none;
}
.input-md {
  width: 150px;
  flex: none;
}
.input-lg {
  width: 350px;
}
.text-sm {
  font-size: 12px;
}

/* 약관 */
.agree-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 1130px;
  margin-left: auto;
  margin-right: auto;
}
.agree-container section .cont {
  border: 1px solid var(--border);
  padding: 1rem;
  color: var(--text-gray);
  max-height: 100px;
  overflow-y: auto;
}
.underline {
  text-decoration: underline;
}
.bt-btns {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

select.select {
  border: 1px solid var(--border);
  padding: 1rem 4rem 1rem 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/arrow_down.png") no-repeat 90% 50%/10px auto;
}
select.select::-ms-expand {
  display: none;
}

.checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal-container .modal {
  position: absolute;
  width: 80%;
  max-width: 480px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: #fff;
}
.modal-container .modal .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 0;
}
.modal-container .modal .title .close {
  width: 40px;
  height: 40px;
  background: url(../images/close.png) center right / 20px no-repeat;
}
.modal-container .modal .conts {
  padding: 2rem 2rem 3rem;
}
