@charset "utf-8";

/* 노트북 */
@media all and (max-width: 1280px) {
}

/* 모바일 */
@media screen and (max-width: 768px) {
  * {
    font-size: 13px;
  }
  #wrap {
    min-width: 100%;
  }
  .mobile {
    display: block !important;
  }
  .mobile.flex {
    display: flex !important;
  }
  .pc,
  .pc.flex {
    display: none !important;
  }
  main > .main-inner {
    width: 100%;
    padding: 5rem 1rem;
  }
  /* 헤더 */

  .header {
    position: fixed;
    width: 100vw;
    padding: 0.5rem 0;
    height: auto;
  }
  .header-inner {
    width: 100%;
  }
  .header .menu {
    width: 60px;
    height: 30px;
    background: url(../images/menu.png) center / 20px no-repeat;
    transition: all 0.3s;
  }
  .header .menu.on {
    background: url(../images/menu_close.png) center / 20px no-repeat;
    transition: all 0.3s;
  }
  .header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 90px;
    height: auto;
  }
  .header nav {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    height: calc(100vh - 43px);
    background: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header nav .intro {
    background-color: #d6ebf7;
    padding: 3rem 2rem;
  }
  .header nav .intro p {
    font-size: 18px;
    font-weight: bold;
    color: #555;
  }
  .header nav li span {
    padding: 0;
  }
  .header nav.show {
    left: 0;
    transition: all 0.3s;
    backdrop-filter: blur(5px);
  }
  .nav-list {
    height: 100%;
    flex-direction: column;
    gap: 30px;
    padding: 2rem;
    justify-content: flex-start;
    overflow-y: auto;
  }
  .header nav li {
    padding: 0;
  }
  .intro .btn-box {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  .intro .btn-box button {
    font-size: 16px;
    padding: 10px 0;
  }
  .intro .btn-box button.sign-up {
    color: var(--point);
  }
  /* 메인 배너 */
  .main-banner .swiper-slide .banner {
    width: 100%;
  }
  .main-banner .swiper-slide .banner .lt {
    margin: 0;
    align-self: center;
  }
  .main-banner .swiper-slide .banner .lt h3,
  .main-banner .swiper-slide .banner .lt h3 span {
    font-size: 2rem;
  }
  .main-banner .swiper-slide .banner {
    padding: 1rem;
  }
  .main-banner .swiper-slide .banner .rt {
    margin: 0;
    align-self: center;
  }
  .main-banner .swiper-slide .banner .rt img {
    width: 11rem;
  }
  .notice-container .visual-container {
    width: 7rem;
  }
  .main-banner .swiper-button-next,
  .main-banner .swiper-button-prev {
    bottom: 2rem;
  }
  .notice-container > .inner {
    width: 100%;
    margin: 0;
  }
  .notice-container .contents-container {
    width: calc(100% - 7rem);
  }
  .notice-container .visual-container .box {
    align-items: center;
    padding-right: 0;
  }
  .notice-container .contents-container .swiper {
    margin: 0;
    padding-right: 1rem;
  }
  .notice-container .contents-container .swiper-wrapper {
    padding: 2rem 0.5rem;
  }
  .notice-container .contents-container .swiper-wrapper .swiper-slide {
    padding: 0 2rem;
  }

  .sections {
    width: 100%;
    padding: 2rem;
  }
  .mobile-gift-container {
    gap: 1rem;
  }
  .mobile-gift-container .gift-item {
    width: calc(50% - 0.5rem);
  }

  /* 푸터 */

  footer > .inner {
    width: 100%;
    flex-direction: column;
    padding: 2rem;
  }
  footer .lt .data {
    gap: 1rem;
  }
  footer .rt li {
    text-align: left;
  }
  footer .lt .logo {
    width: 40%;
    height: auto;
  }

  /* 로그인 */
  .login-box {
    padding: 2rem 1.5rem;
  }

  /* 탭 */
  .tabs-container .tabs .tab {
    padding: 1rem;
  }
  .list .head span,
  .list .body .row > div {
    min-width: 4rem;
  }

  /* 게시판 */
  .list .body .row > div {
    padding: 1rem;
  }

  /* 고객센터 */
  .qna-container {
    width: 100%;
    flex-wrap: wrap;
  }
  .agree-container {
    width: 95%;
  }
  .table th,
  .table td {
    padding: 0.5rem;
  }
  .captha-box {
    flex-direction: column;
  }
  .qna-container .qna-item {
    width: 100%;
  }
  .section .section-title > .lg > span {
    font-size: 2rem;
  }
  .section .section-title,
  .section .section-title > h3 {
    gap: 0.5rem;
  }
  .board-detail .head {
    flex-direction: column;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
  }
  .customer-container .board-detail {
    padding: 0;
  }

  /* 핫딜 */
  .hot-deal-container .rt .detail {
    padding: 1rem 0.5rem;
  }
  .hot-deal-container .sub-center .cont {
    flex-direction: column;
    gap: 3rem;
  }
  .hot-deal-container .lt,
  .hot-deal-container .rt {
    width: 100%;
  }
  .hot-deal-container .cart {
    padding: 1rem 0;
  }
  .hot-deal-container .cart .item .amount button,
  .hot-deal-container .cart .item .amount input {
    padding: 0.5rem;
  }
  .hot-deal-container .cart .item .amount input {
    width: 30px;
  }
  .hot-deal-container .labels {
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
  }
  .hot-deal-container .label-sm {
    padding: 1px 2px;
    font-size: 10px;
  }
  .hot-deal-container .lt .img {
    height: 20rem;
  }

  /* 사용방법 */
  .how-to-use-container .steps {
    flex-wrap: wrap;
  }
  .how-to-use-container .steps li {
    padding: 2rem;
  }
  .how-to-use-container .how .monitor,
  .how-to-use-container .how .monitor .img {
    width: 100%;
  }
  .how-to-use-container .how .monitor {
    height: 23rem;
  }

  /* 로그인 */
  main > .main-inner.login-container {
    width: 100%;
  }
  .login-form > .flex {
    flex-direction: column;
  }
  .login-form .login {
    width: 100%;
  }
  .login-box .btns button {
    padding: 1rem 0.5rem;
  }
  main > .main-inner.login-container {
    margin: auto;
  }

  /* 마이페이지 */
  .my-info-container {
    width: 100%;
  }
  .input-box {
    flex-direction: column;
  }

  /* global */
  .board-detail {
    padding: 1rem;
  }
  .sub-center {
    width: 100%;
  }
  .main-inner > .sections {
    padding: 0;
  }
  .section .section-title > .md > span {
    font-size: 1.5rem;
  }
  .input-sm {
    width: 4rem;
    flex: 1;
  }
  .input-md {
    width: 8rem;
    flex: 1;
  }
  .table {
    table-layout: fixed;
  }

  /* 회원가입 */
  .sign-up-container {
    width: 100%;
    padding: 0 2rem;
  }
  .sign-up-btn {
    padding: 3rem 1.5rem;
  }
  .sign-up-container .conts {
    width: 100%;
  }
  .sign-up-container .conts .title-box {
    margin-top: 2rem;
  }
  .sign-up-container .conts .box {
    padding: 2rem;
  }
}
